.about {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about::before {
  content: "";
  background: url("https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about .right {
  margin: 2rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about .right p {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: justify;
}
.aboutTitle {
  font-weight: 300;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.mainDescription {
  text-transform: uppercase;
  text-align: justify;
  font-size: 1.5rem;
}
.educationTitle {
  font-weight: 300;
  color: #fff;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}
.ducationText {
  font-size: 1.7rem;
}
.about .left {
  background-color: rgba(255, 255, 255, 0.895);
  padding: 5.4rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .imgContainer {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  width: 17rem;
  margin-bottom: 1.4rem;
}

.about .imgContainer img {
  width: 100%;
  height: 100%;
}

.left .text {
  color: black;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  line-height: 2rem;
}
.skillList {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.skillListTitle {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.right p {
  margin-bottom: 2rem;
}

.courseList {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 200;
  text-align: justify;
  list-style-type: circle;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.boldText {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    padding: 8rem 4rem 3rem;
  }

  .aboutTitle {
    font-size: 3rem;
  }
  .about .right p {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 200;
  }
  .about .right {
    margin-top: 0;
  }
  .about .left {
    padding-top: 3.4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .about .right {
    width: 60%;
    margin-left: 2.5rem;
  }
}
