.contact {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 2rem 3rem;
  text-align: center;
}

.contact::before {
  content: "";
  background: url("https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

label {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  /* padding: 4rem 1rem; */
  margin: auto;
  width: 100%;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.contact h1 {
  font-size: 3.1rem;
}

.contact p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.phoneEmailDiv {
  margin-bottom: 3rem;
}

.links {
  color: #fff;
  margin-top: 2rem;
  font-size: 2rem;
}

.icon {
  margin-right: 0.6rem;
}
.links .icon:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 1024px) {
  .contact {
    align-items: center;
  }

  .rightAndLeft {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }
  .contact h1 {
    margin-bottom: 2rem;
  }
  .contact .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  form {
    padding: 0 60px;
  }
  .contact .left {
    width: 50%;
  }
  .contact p:first-child {
    margin-top: 0;
  }
  .phoneEmailDiv p:first-child {
    margin-top: 2rem;
  }
}
