.hero {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  min-height: 92vh;
  position: relative;
}

.hero::before {
  content: "";
  background: url("https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .content {
  display: flex;
  flex-direction: column-reverse;
  padding: 6rem 1rem 0;
  z-index: 111111;
  width: 100%;
}

.hero .left {
  text-align: center;
}

.hero .content h1 {
  font-size: 3.3rem;
  padding: 0.6rem 0 1.5rem;
}

.jobTitile {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.aboutMe {
  font-weight: 200;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.content .btn {
  margin: 0 0.2rem 2rem;
}

.hero .right {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.hero .right img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .hero .right {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    /* height: 100vh; */

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .content {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 1rem 0;
  }
  .hero .right {
    position: relative;
    width: 26rem;
    height: 26rem;
    aspect-ratio: 1/1;
    margin: -2rem 0 0 4rem;
  }
  .hero .right img {
    scale: 1.13;
  }
  .hero .content h1 {
    font-size: 3.6rem;
    padding: 0.6rem 0 1.5rem;
  }
  .aboutMe {
    font-weight: 200;
    margin-bottom: 3.6rem;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 3.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero .content h1 {
    font-size: 4rem;
  }
  .aboutMe {
    font-size: 1.2rem;
    margin-bottom: 4rem;
  }
  .hero .right {
    margin-top: -1rem;
    margin-left: 6rem;
    width: 30rem;
    height: 30rem;
  }
  .hero .content {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .hero .right {
    margin-top: -3rem;
    width: 31rem;
    height: 31rem;
    margin-left: 8rem;
  }
}
