.hero-img {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: relative;
}

.hero-img::before {
  content: "";
  background: url("https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-img p {
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .hero-img h1 {
    font-size: 2.4rem;
  }
  .hero-img {
    height: 60vh;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-img h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .hero-img p {
    font-size: 1.5rem;
  }
  .hero-img {
    height: 75vh;
  }
}
